<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ZingyBits\BalikobotCore\Model\BalikobotApiClient">
        <arguments>
            <argument name="apiKeyConfigPath" xsi:type="string">balikobot/general/api_key</argument>
            <argument name="apiUserConfigPath" xsi:type="string">balikobot/general/api_user</argument>
        </arguments>
    </type>
</config>
